<!DOCTYPE HTML>
<html>
<head>
    <title>{{.title}}</title>
    <meta http-equiv="refresh" content="15">
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: "{{.title}}"
                },
                axisY2: {
                    prefix: "$",
                },
                toolTip: {
                    content: "{name}: {y}",
                    shared: true
                },
                animationEnabled: true,
                legend: {
                    cursor: "pointer",
                    verticalAlign: "top",
                    horizontalAlign: "center",
                    dockInsidePlotArea: true,
                    itemclick: toogleDataSeries
                },
                data: [
                    {{range $key, $values := .dataItems}}
                    {
                        type:"line",
                        axisYType: "secondary",
                        name: "{{$key}}",
                        showInLegend: true,
                        markerSize: 0,
                        yValueFormatString: "$#,##",
                        dataPoints: [
                            {{range $values}}
                            { x: new Date({{.Time}}), y: parseFloat({{.Price}}) },
                            {{ end }}
                        ]
                    },
                    {{ end }}
                ]
            });

            chart.render();

            function toogleDataSeries(e) {
                if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }

                chart.render();
            }

        }
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>

    <span>* Data is updated every minute, browser will refresh automatically</span>

    <center>Powered by <a href="https://coinlib.io/apidocs" target="_blank">Coinlib API</a></center>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>